
<label for="title">
	<f:translate key="tx_szagorangemap_domain_model_markers.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="adress">
	<f:translate key="tx_szagorangemap_domain_model_markers.adress" />
</label><br />
	<f:form.textfield property="adress" /><br />
<label for="zipcode">
	<f:translate key="tx_szagorangemap_domain_model_markers.zipcode" />
</label><br />
	<f:form.textfield property="zipcode" /><br />
<label for="website">
	<f:translate key="tx_szagorangemap_domain_model_markers.website" />
</label><br />
	<f:form.textfield property="website" /><br />
<label for="longitude">
	<f:translate key="tx_szagorangemap_domain_model_markers.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="latitude">
	<f:translate key="tx_szagorangemap_domain_model_markers.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />