
<table class="tx-szag-orangemap" >
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.title" />
		</td>
		<td>
		{markers.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.adress" />
		</td>
		<td>
		{markers.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.zipcode" />
		</td>
		<td>
		{markers.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.website" />
		</td>
		<td>
		{markers.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.longitude" />
		</td>
		<td>
		{markers.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_markers.latitude" />
		</td>
		<td>
		{markers.latitude}
		</td>
	</tr>
</table>