
<label for="location">
	<f:translate key="tx_szagorangemap_domain_model_standort.location" />
</label><br />
	<f:form.textfield property="location" /><br />
<label for="locationdesc">
	<f:translate key="tx_szagorangemap_domain_model_standort.locationdesc" />
</label><br />
	<f:form.textfield property="locationdesc" /><br />
<label for="business">
	<f:translate key="tx_szagorangemap_domain_model_standort.business" />
</label><br />
	<f:form.textfield property="business" /><br />
<label for="lat">
	<f:translate key="tx_szagorangemap_domain_model_standort.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_szagorangemap_domain_model_standort.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="country">
	<f:translate key="tx_szagorangemap_domain_model_standort.country" />
</label><br />
	<f:form.textfield property="country" /><br />