
<table class="tx-szag-orangemap" >
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.location" />
		</td>
		<td>
		{standort.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.locationdesc" />
		</td>
		<td>
		{standort.locationdesc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.business" />
		</td>
		<td>
		{standort.business}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.lat" />
		</td>
		<td>
		{standort.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.lng" />
		</td>
		<td>
		{standort.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szagorangemap_domain_model_standort.country" />
		</td>
		<td>
		{standort.country}
		</td>
	</tr>
</table>